@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-white-color: white;
  --background-gray-color: #f4f4f5;

  --text-black-color: #37352F;
  --text-gray-color: #95938f;
  --placeholder-gray-color: #A1A1AA;

  --purple-color: #8A2387; /* header */
  --red-color: #E94057; /* header */
  --light-orange-color: #ea580c; /* header + navbar */ 
  --orange-color: #ea580c; /* #D25600 */
  --dark-orange-color: #7d3204;
  --dark-green-color: #2f7d65;

  --green-color: #4ade80;
  --yellow-color: #ca8a04;
}

@layer components {
  .text--main--header {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
  }
  .text--header {
    @apply text-2xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  .text--sub--header {
    @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
  }
  .text--content {
    @apply text-sm md:text-base lg:text-xl;
  }
  .text--sub--content {
    @apply text-sm sm:text-base lg:text-lg;
  }
  .text--sub--small {
    @apply text-sm lg:text-base
  }

  .header--background {
    @apply bg-gradient-to-br from-[var(--purple-color)] via-[var(--red-color)] to-[var(--orange-color)];
  }


  .my--container {
    @apply w-full sm:w-[600px] md:w-[600px] lg:w-[700px] xl:w-[800px] 2xl:w-[900px];
  }

  .input--line {
    @apply block w-full bg-inherit border-b-2 focus:outline-none focus:border-b-[#1E1E24] transition-colors ease-linear placeholder:text-[#A1A1AA] appearance-none;
  }
  .input--box {
    @apply block w-full rounded-lg bg-inherit focus:outline-none focus:border-[#1E1E24] transition-colors ease-linear placeholder:text-[#A1A1AA] appearance-none;
  }

  .brighter--shadow--orange {
    box-shadow: 0 0 0.5rem var(--dark-orange-color)
  }
  .brighter--shadow--green {
    box-shadow: 0 0 0.7rem #81AE9D;
  }

  .trans--color {
    @apply transition-colors ease-in-out duration-300
  }
}